.card:hover {
  background-color: yellow;
}

.hidden {
  visibility: hidden;
}

.unavailable {
  cursor: not-allowed;
}

/*.unavailable:hover {
  pointer-events: none;
}*/

#videoWrapper {
  text-align: center;
}

@media (min-width: 992px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}
