.card:hover {
  background-color: yellow;
}

.hidden {
  visibility: hidden;
}

.unavailable {
  cursor: not-allowed;
}

/*.unavailable:hover {
  pointer-events: none;
}*/

#videoWrapper {
  text-align: center;
}

@media (min-width: 992px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

@media (min-width: 3000px) {
  .container-fluid {
    height: 100vh;
  }
  .container-fluid > .row {
    height: 16%;
  }
  
  .card {
    height: 90%;
  }
  
  .modal-xl {
    width: 90%;
    max-width: 3200px;
    margin: 250px auto;
  }
  
  iframe {
    width: 3000px;
    height: 1500px;
  }
}
